@charset "UTF-08";

/* Importação de fontes do google font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Configurações de variáveis em CSS */
:root {
    --cor0: #405952;
    --cor1: #4b7070;
    --cor2: #9c9b7a;
    --cor3: #ff974f;
    --cor4: #ff5a42;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-destaque: 'Rajdhani', sans-serif;
    --fonte-titulo: 'Bebas Neue', 'cursive';
}

/* Configurações do corpo do site */
body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

body p {
    margin: 15px;
    text-indent: 40px;
    font-size: 1em;
    line-height: 1.3em;
}

/* Configurações do cabeçalho */
.cabecalho {
    background-color: var(--cor0);
    color: var(--cor2);
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
    min-height: 160px;
}

.cabecalho .titulo-cabecalho {
    font-size: 3.4em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.510);
}

.cabecalho .destaque {
    font-size: 1.2em;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.40);
    max-width: 550px;
}


/* Configurações do menu de navegação */
.menu {
    background-color: var(--cor0);
    height: 35px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.390)
}

.menu a {
    color: var(--cor3);
    font-family: var(--fonte-titulo);
    text-decoration: none;
    padding: 8px;
    margin-left: 5px;
    border-radius: 3px;
    font-size: 1.2em;
    transition-duration: 2s;
}

.menu a:hover {
    background-color: #4b7070c4;
}

/* Configuração do conteúdo do site */
.conteudo {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.conteudo .titulo-conteudo {
    font-family: var(--fonte-destaque);
    color: var(--cor1);
    font-size: 2.3em;
    text-indent: 15px;
}

.conteudo .sub-titulo {
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    font-size: 1.6em;
    text-indent: 15px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

.conteudo p {
    text-align: justify;
}

.conteudo .imagens {
    width: 100%;
}

/* Configurações de video do YouTub */
.conteudo .video {
    background-color: var(--cor1);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}

.conteudo .video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* Configurações do conteúdo periferico aside */
.periferico h3 {
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    font-size: 1.6em;
    text-indent: 15px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

.periferico ul {
    background-color: var(--cor0);
    margin-top: 0px;
    line-height: 1.6em;
    padding: 5px;
    border-radius: 4px 4px 6px 6px;
}

.periferico ul li {
    list-style: none;
    margin-right: 20px;
}

.periferico ul li a {
    font-family: var(--fonte-titulo);
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor2);
}

.periferico ul li a:hover {
    color: var(--cor3);
}

/* Configuração do Rodapé */
.rodape {
    background-color: var(--cor0);
    color: var(--cor2);
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

.rodape a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: bold;
}

.rodape a:hover {
    text-decoration: underline;
    color: var(--cor3);
}


