@charset "UTF-08";

/* Seletor glogal-reset */
* {
    margin: 0;
    padding: 0;
}

/* Importação de fontes do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Configurações de variáveis em CSS, cor e fontes */
:root {
    --cor0: #405952;
    --cor1: #4b7070;
    --cor2: #9c9b7a;
    --cor3: #ff974f;
    --cor4: #ff5a42;
    --cor-padrao: #ffffff;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-destaque: 'Rajdhani', sans-serif;
    --fonte-titulo: 'Bebas Neue', 'cursive';
}

/* Configuração do corpo do site */
body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor2);
}

p {
    margin:15px;
    text-indent: 40px;
    font-size: 1em;
    line-height: 1.3em;
}

/* Cabeçalho */
.cabecalho {
    background-color: var(--cor0);
    color: var(--cor2);
    height: 230px;
    text-align: center;
    padding-top: 40px;
    min-height: 160px;
    text-transform: uppercase;
}

.cabecalho .titulo {
    
    font-size: 3.4em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

.cabecalho .destaque {

    font-size: 1.2em;
    max-width: 550px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
}

